.isDisabled {
  color: currentColor;
  opacity: 0.7;
  text-decoration: none;
  pointer-events: none;
}


.text{
    font-family: 'Space Grotesk', sans-serif;
    line-height: 18px !important;
    font-weight: 400;
}

body{
    font-family: 'Inter', sans-serif;
}

mark{
    background-color: #FF9000;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    opacity: 90%;
}

a:active {
    text-decoration: none;
}

.logo-top{
    margin-top: -50px;
    margin-bottom: 30px;
}

.blue-button {
  background-color: #7289da;
  border: 2px solid #7289da;
  color: #fff;
}
.blue-button:hover{
    color: white;
    transform: translateY(1px);
}



.aula-title-a{
    opacity: #dbdbdb;
    font-weight: 800 !important;
    line-height: 25px;
}
.-video-thumb{
    opacity: 80%;
}

.-free{
    opacity: 100%;
}

.disable{
    pointer-events: none;
}

#apostila{
    background:#131313;
    border-color:#131313;
    color:white;
    display: flex;
    justify-content: center;
}

.block-ico{
    width: 200px;
    text-align: center;
    height: 70px;
    margin:5px;
    margin-right: 30px;
    justify-content: center;
}

.block-content{
    width: 600px;
}

/* BANNER DISCORD */

#discord{
    background-color: #7289da;
    border-color:#899ee9;
    color:white;
    display: flex;
    justify-content: center;

}.block-discord-bt{
    background-color: white;
    padding:8px;
    border: 5px;
    border-color: white;
    border-radius: 5px;
    color:#7289da;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}.block-discord-bt:hover{
    color: #7289da;
    opacity: 90%;
}

/* BANNER WHATSAPP */

#whatsapp{
    background-color: #25D366;
    border-color:#128C7E;
    color:white;
    display: flex;
    justify-content: center;

}.block-whatsapp-bt{
    background-color: #04DA00;
    padding:8px;
    border: 5px;
    border-color: #37fe33;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}.block-whatsapp-bt:hover{
    background-color: rgb(50, 205, 48);
    color: white;
    opacity: 90%;
    text-decoration: none !important;
}

.important-banner{
    border: solid #11883d !important;
    border-radius: 8px;
}

/* BANNER NORMAL */

.block-bt{
    background-color: #FF9000;
    padding:8px;
    border: 5px;
    border-color: #FF9000;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}.block-bt:hover{
    color: white;
    opacity:90%;
}

@media screen and (max-width: 990px) {
    
    #apostila{background: #131313;
    
    }
    mark{
    background-color: transparent;
    color:whitesmoke;
    }
    .logo-top{
    margin-top: 15px;
    margin-bottom: -10px;
    }
    .block-ico{
        display: none;
    }.block-content{
    width: auto;
    }

}
