/* background */
/* fontsize */
/* paddings */
/* margins */
.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-80 {
  margin-top: 80px !important;
}
